* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#particles-js {
    /* background: linear-gradient(to bottom, #fff, #b61924); */
    height: 100%;
}
#particles-js canvas{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
form {
    z-index: 100;
}
.front {
    z-index: 100;
}
.no-backgrund {
    background: rgba(0, 0, 0, 0);
}
.backgroundIndex {
    background: linear-gradient(180deg, #5CBBFF 0.54%, #004DE1 100%);
}
.bg-white-blue {
    background: #0075E1;
}
.text-white-blue {
    color: #0075E1;
}
.bg-dark-blue {
    background: #004DE1;
}
.text-dark-blue {
    color: #004DE1;
}

.bg-silver-transparant {
    background: rgba(217, 217, 217, .30)
}

/* Sidebar */
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
.offcanvas-lg {
    background: #0075E1 !important;
}

  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #0075E1;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  