* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#particles-js {
    /* background: linear-gradient(to bottom, #fff, #b61924); */
    background: #18b691;
    height: 100%;
}
#particles-js canvas{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
form {
    z-index: 100;
}
nav {
    background: rgba(0, 0, 0, 0);
}